
/* ວີດີໂອພື້ນຫຼັງ */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.content {
  position: relative;
  color: white;
  text-align: center;
  padding-top: 20%;
}

body {
    font-family: sans-serif;
  }

  .menu {
    position: relative;
    display: inline-block;
  }

  .menu-button {
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
  }

  .dropdown a:hover {
    background-color: #cc0000;
  }

  .menu:hover .dropdown {
    display: block;
  }
  /* CSSຂອງໜ້າສອງ */
  body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
}
.card {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.363);
    
}
.card img {
    width: 300px;
    
    height: 150px;
    margin-bottom: 10px;
}
.price {
    font-size: 1.5em;
    color: #000;
    margin: 10px 0;
    
}
.price del {
    font-size: 0.8em;
    color: gray;
}
.button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    
}
.learn {
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-left: 5px;
}
.tag {
    color: green;
    border: 1px solid green;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
}
/* ຕົກແຕ່ງເຊີມ */
h3{
  font-size: 22px;
}